# Jekyll e builds locais
_site/
.jekyll-cache/
.jekyll-metadata

# Dependências do Ruby (Gems)
vendor/
.bundle/
Gemfile.lock

# Arquivos de sistema e ambiente
.env
.venv/
__pycache__/
*.pyc
.sass-cache/

# Logs e arquivos temporários
*.log
.DS_Store
